VITE_ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com/
VITE_ROBINHOOD_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_REOWN_PROJECT_ID=
VITE_NETWORK=robinhood-mainnet
VITE_ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com/
VITE_ROBINHOOD_TESTNET_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com/
ROBINHOOD_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com/
ROBINHOOD_TESTNET_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
ROBINHOOD_NETWORK=robinhood-mainnet
OWNER_PRIVATE_KEY=
